In [15]:
import pandas as pd
df = pd.read_csv('../data/avis/gen_clean_lemma_sent_noYc_.csv',
                  sep=",", index_col = 0)
df = df.join(pd.get_dummies(df.Société, prefix = 'bank_'))
df.head(2)

,Unnamed: 0,user,etoiles,n_avis,date_avis,date_experience,Société,text_total,jour_avis,mois_avis,...,bank__bcfinance.fr,bank__floapay.com,bank__franfinance.fr,bank__ips,bank__laNef,bank__manager.one,bank__moneywalkie.com,bank__propulsebyca.fr,bank__qui-est-la-banque-la-moins-chere.com,horaire__nuit
0,0,Mme Rakotondrasamy Lalanirina,1,3.0,2023-10-20,2023-10-19,MaBanqueBNPParibas,Orgueil gestionnaireÇa reste une mauvaise expé...,20,10,...,0,0,0,0,0,0,0,0,0,1
1,1,Florian T,1,2.0,2023-10-19,2023-10-19,MaBanqueBNPParibas,Mauvaise expérience en agence physique et en l...,19,10,...,0,0,0,0,0,0,0,0,0,1

In [5]:
# Mélange aléatoire des lignes du jeu de données
df = df.sample(frac = 1, random_state=7)
# split entre jeu de test et d'entrainement
train_ratio = 0.8
total_rows = df.shape[0]
train_size = int(total_rows*train_ratio)
train = df[:train_size]
test =  df[train_size:]

print("total rows:",total_rows,"\n","train size:", train_size, 
      "\n","test size:",total_rows - train_size)

total rows: 105151
 train size: 84120
 test size: 21031

# subsampling manuel sur la base de la modalité minoritaire

Train

In [24]:
# normalizing
from sklearn.preprocessing import StandardScaler

# Insérez votre code ici
norm_train = train[['longueur_texte', "n_avis"]]
scaler = StandardScaler().fit(norm_train) 
train[['longueur_texte', "n_avis"]] = scaler.transform(train[['longueur_texte', "n_avis"]])

,Unnamed: 0,user,etoiles,n_avis,date_avis,date_experience,Société,text_total,jour_avis,mois_avis,...,bank__ZELF,bank__bcfinance.fr,bank__floapay.com,bank__franfinance.fr,bank__ips,bank__laNef,bank__manager.one,bank__moneywalkie.com,bank__propulsebyca.fr,bank__qui-est-la-banque-la-moins-chere.com
54982,54982,Allaoui,4,-0.426925,2022-06-29,2022-06-29,MaFrenchBank,Je suis contente d'être clients chez ma…Je sui...,29,6,...,0,0,0,0,0,0,0,0,0,0
14587,14587,Jcram,4,-0.426925,2020-10-07,2020-10-07,Floabank,"VirementBonjour, j'ai procédé au versement de ...",7,10,...,0,0,0,0,0,0,0,0,0,0
1850,1850,Amedic Technologie,5,-0.426925,2023-10-17,2023-10-17,MaBanqueBNPParibas,Meilleure Agence BNPUne des meilleures agences...,17,10,...,0,0,0,0,0,0,0,0,0,0
69650,133305,Michèle SANTI,5,1.565187,2023-03-21,2022-03-20,Monabanq,rien en particulier je suis satisfait…rien en ...,21,3,...,0,0,0,0,0,0,0,0,0,0
50128,50128,Michel ROGER,5,-0.426925,2021-11-17,2021-11-17,Oney,Carte Très utile et banque Très…Carte Très uti...,17,11,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90068,153723,Mme GIBLACA guilaine,5,0.015767,2023-04-24,2022-11-20,OrangeBank,efficacité et rapiditédemande de prêt rapide s...,24,4,...,0,0,0,0,0,0,0,0,0,0
10789,10789,Fabrice L,1,0.015767,2023-01-05,2023-01-04,Floabank,Un paiement comptant qui se transforme…Un paie...,5,1,...,0,0,0,0,0,0,0,0,0,0
51198,51198,CLOTILDE,5,2.893261,2021-01-11,2021-01-11,Oney,ParfaitParfait ! Je recommande à 100%,11,1,...,0,0,0,0,0,0,0,0,0,0
99823,163478,Courtois,5,-0.426925,2022-02-22,2022-02-22,OrangeBank,rien à redire sur cette banque j'y suis…rien à...,22,2,...,0,0,0,0,0,0,0,0,0,0
1074,1074,sympa Azerty,1,-0.426925,2020-08-28,2020-08-28,MaBanqueBNPParibas,DAB défaillant et plus de cbZéroC'est les vaca...,28,8,...,0,0,0,0,0,0,0,0,0,0

In [3]:

mod_etoiles = train.etoiles.value_counts().sort_values()
n_mod = mod_etoiles.min()
train1 = train[train.etoiles ==1].iloc[0:n_mod,:]
train2 = train[train.etoiles ==2].iloc[0:n_mod,:]
train3 = train[train.etoiles ==3].iloc[0:n_mod,:]
train4 = train[train.etoiles ==4].iloc[0:n_mod,:]
train5 = train[train.etoiles ==5].iloc[0:n_mod,:]

train_equal = pd.concat([train1,train2,train3,train4,train5])

# On mélange à nouveau 
train_equal = train_equal.sample(frac = 1, random_state=7)
train_equal.etoiles.value_counts()

5    2137
4    2137
2    2137
3    2137
1    2137
Name: etoiles, dtype: int64

In [6]:
# saving balanced train dataset
train_equal.to_csv("../data/avis/train_noYC_lemma_sent_equil.csv")

Test

In [7]:
test[['longueur_texte', "n_avis"]] = test.transform(train[['longueur_texte', "n_avis"]])

mod_etoiles = test.etoiles.value_counts().sort_values()
n_mod = mod_etoiles.min()
test1 = test[test.etoiles ==1].iloc[0:n_mod,:]
test2 = test[test.etoiles ==2].iloc[0:n_mod,:]
test3 = test[test.etoiles ==3].iloc[0:n_mod,:]
test4 = test[test.etoiles ==4].iloc[0:n_mod,:]
test5 = test[test.etoiles ==5].iloc[0:n_mod,:]

test_equal = pd.concat([test1,test2,test3,test4,test5])

# On mélange à nouveau 
test_equal = test_equal.sample(frac = 1, random_state=7)
test_equal.etoiles.value_counts()

2    562
3    562
4    562
1    562
5    562
Name: etoiles, dtype: int64

In [8]:
# saving balanced test dataset
test_equal.to_csv("../data/avis/test_noYC_lemma_sent_equil.csv")

# Creating a benchmark table for our models performance testing

In [17]:
# Creating a benchmark table for our models performance testing
import pandas as pd
import numpy as np
bench = pd.DataFrame(columns= ["model","grid search","used/best params",
                               "features", "score", "precision", "recall","f1",
                               "time_taken_mns","run_date"])
bench.to_csv("../reports/model_benchmark.csv")