In [3]:
import pandas as pd

df = pd.read_csv("../data/avis/df_clean_noYC_lemma.csv")
df=df.iloc[:,0:2]
df.head()

   etoiles  n_avis
0        1     3.0
1        1     2.0
2        5     1.0
3        1     5.0
4        2     4.0

In [6]:
tableau=df.describe()
tableau
tableau.to_csv("../data/avis/describe_avis.csv")