In [34]:
import pandas as pd
import numpy as np
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.metrics import make_scorer, classification_report, make_scorer, recall_score, f1_score


df = pd.read_csv("../data/avis/general_df_clean_sent_15k.csv")
df.head()

,Unnamed: 0,user,etoiles,n_avis,localisation,date_avis,titre_avis,text_avis,date_experience,page,label,score,sentiment_norm,longueur_text
0,0,Sylvain Andujar,3,3.0,FR,2022-07-26 10:10:19,Pour l'instant toujours en attente,"Pour l'instant toujours en attente, tout les j...",2022-07-26,YounitedCredit,-1,0.939534,-0.939534,138.0
1,1,ANNICK JALLET,3,1.0,FR,2022-04-11 14:14:30,intérêts trop élevés,na,2022-04-11,Cofidis,-1,0.838470,-0.838470,2.0
2,2,Client,2,3.0,FR,2023-06-07 16:57:39,"C'était les meilleurs, mais c'était avant",Deux dernières fois où j'ai dû faire appel à F...,2023-06-04,Fortuneo,-1,0.889320,-0.889320,289.0
3,3,Radio Anime,1,1.0,BE,2023-09-08 13:30:04,Vous n'aidez pas les gens,"Vous n'aidez pas les gens, vous faites l'inver...",2023-09-08,Cofidis,-1,0.899752,-0.899752,189.0
4,4,Serge Péon,1,2.0,FR,2023-02-10 20:32:37,De voyage à l'étranger mon conseillé de…,De voyage à l'étranger mon conseillé de la Ban...,2023-02-09,MaFrenchBank,-1,0.984039,-0.984039,478.0

In [38]:
target = df.etoiles
features = df.drop("etoiles", axis = 1)
features = features[['n_avis','sentiment_norm','longueur_text']]
features.head()

   n_avis  sentiment_norm  longueur_text
0     3.0       -0.939534          138.0
1     1.0       -0.838470            2.0
2     3.0       -0.889320          289.0
3     1.0       -0.899752          189.0
4     2.0       -0.984039          478.0

In [42]:
X_train, X_test, y_train, y_test = train_test_split(features, target)

In [39]:
list_num = ['n_avis', 'longueur_text']

In [43]:
svm = svm.SVC()
svm.fit(X_train, y_train)

svm.score(X_test, y_test)

0.4041987775710869

In [44]:
y_pred = svm.predict(X_test)

In [48]:
X_test

       n_avis  sentiment_norm  longueur_text
10486     6.0       -0.994617          216.0
13362     1.0        0.986901           52.0
9729     15.0        0.893240          130.0
2317      9.0       -0.870703           49.0
9912      1.0        0.998325           58.0
...       ...             ...            ...
1391      7.0       -0.997753           46.0
11209     1.0       -0.943349           15.0
4058      4.0       -0.838470            2.0
12459    37.0       -0.604893           29.0
7850      1.0       -0.997979          812.0

[3763 rows x 3 columns]

In [45]:
pd.crosstab(y_test, y_pred)

col_0      1   2   3    4    5
etoiles
1        475  10  41   61  165
2        354  11  61  109  222
3        208   2  55  188  298
4         43   1  20  441  254
5        100   0   1  104  539

In [47]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           1       0.40      0.63      0.49       752
           2       0.46      0.01      0.03       757
           3       0.31      0.07      0.12       751
           4       0.49      0.58      0.53       759
           5       0.36      0.72      0.49       744

    accuracy                           0.40      3763
   macro avg       0.40      0.40      0.33      3763
weighted avg       0.40      0.40      0.33      3763